.login-form {
    width: 320px;
    height: 400px;
    margin: 8rem auto;
    background: white;
    border: transparent;
    box-shadow: 0px 4px 4px #aaa;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;

    h2 {
        margin: 0;
    }

    .alertMessage {
        color: red;
        border: 1px solid red;
        padding: 5px;
        background-color: rgb(233, 197, 218);
        margin: 0;
        min-height: 1rem;
        max-width: 12rem;
    }

    .not-visible {
        visibility: hidden;        
    }

    .input-container {
        display: flex;
        flex-direction: column;

        input {
            padding: 5px;
            border: 1px solid gray;
            border-radius: 4px;
        }
    }

    .sign-in-button {
        width: 11rem;
        margin-top: 1rem;
        padding: 5px 0;
        border: 1px solid gray;
        border-radius: 4px;
        background-color: #6C69FF;
        color: white;

        &:active {
            transform: scale(0.98);
        }

        &:disabled {
            background-color: grey;
        }   
             
    }

    .sign-up-switch {
        border: none;
        background: none;
        text-decoration: underline;
        color: blue;
        font-size: 1rem;
        cursor: pointer;

        &:active {
            color: #6C69FF;
        }
    }
    
}