<div class="game-card-container">
    <div class="game-card-header">
        <div class="game-name">
            <span>{{game.name}}</span>            
        </div>
        <div class="game-price" *ngIf="cardType === 'add-game-card'">
            <span>{{game.price}} UAH</span>
        </div>
    </div>
    <div class="game-card-main">
        <p>{{game.description}}</p>
        <button
            class="button-add"
            *ngIf="cardType === 'add-game-card'"
            (click)="addToLibrary()"
        >Add To Library</button>
        <div class="library-buttons" *ngIf="cardType === 'library-game-card'">
            <button class="download-button library-button">Download</button>
            <button class="share-button library-button">Share</button>
        </div>
    </div>
</div>
