
.serch-form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;
    
    .input-container {
        display: flex;
        flex-direction: column;
        width: 88%;
    }

    .search-button {
        width: 5rem;
        margin-top: 1rem;
        padding: 3px 0;
        border: 1px solid gray;
        border-radius: 4px;
        background-color: #6C69FF;
        color: white;
        cursor: pointer;

        &:active {
            transform: scale(0.98);
        }

        &:disabled {
            background-color: grey;
        }   
    }        
}


